@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-light: #63b3ed;
  --color-primary: #4299e1;
  --color-primary-dark: #3182ce;

  --color-secondary-light: #fbb6ce;
  --color-secondary: #f687b3;
  --color-secondary-dark: #d53f8c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
