@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-light: #63b3ed;
  --color-primary: #1a1c1e;
  --color-primary-dark: #3182ce;

  --color-secondary-light: #7c5ff3;
  --color-secondary: #5f49b6;
  --color-secondary-dark: #5e3bee;

  --color-bg-light: #ededed;

  /* Font sizes */
  --font-small: 1rem;
  --font-medium: 1.2rem;
  --font-large: 3rem;
  --boxShadowDefault: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Responsividade para celular */
@media (max-width: 640px) {
  :root {
    --font-small: 0.8rem; /* Reduzido no celular */
    --font-medium: 1rem;
    --font-large: 2rem;
  }
}

/* Responsividade para tablets */
@media (max-width: 768px) {
  :root {
    --font-small: 0.9rem; /* Tamanho intermediário no tablet */
    --font-medium: 1.1rem;
    --font-large: 2.5rem;
  }
}

body {
  /* color: var(--foreground); */
  background: var(--foreground);
  font-family: "Urbanist", Arial, Helvetica, sans-serif;
}
